html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: #282828;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12pt;
	font-weight: 400;
	color: #919191;
}

.carousel-inner>.item>img {
	height: 500px;
}

.div_left {
	float: left;
	width: 100%;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
}

p, ol, ul {
	margin-top: 0;
}

ol, ul {
	padding: 0;
	list-style: none;
}

p {
	line-height: 180%;
}

strong {
	
}

a {
	color: #747474;
}

a:hover {
	text-decoration: none;
}

.container {
	margin: 0px auto;
	width: 1200px;
	padding: 0px;
}

.on input[type="text"], .on input[type="password"], .on select, .on #login__submit {
	border-radius: 0.25rem;
	padding: 1rem;
}

.on input[type="text"]:enabled, .on input[type="password"]:enabled, .on select {
	background-color: #3b4148;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	color: white;
}

.on input[type="text"]:focus, .on input[type="text"]:hover, .on input[type="password"]:focus,
	input[type="password"]:hover {
	background-color: #434A52;
}

.on input[type="text"]:disabled, .on input[type="password"]:disabled {
	background-color: #2c3338;
}

.on input, .on select {
	height: 45px;
	border: 0;
	color: white;
	margin: 0;
	outline: 0;
	padding: 0;
	-webkit-transition: background-color .3s;
	transition: background-color .3s;
}

.on input[type="text"], .on input[type="password"], .on select {
	width: 250px;
	margin-left: -3px;
	margin-top: 2px;
	float:left;
}

.on input[type="button"]:hover, .on input[type="submit"]:hover {
	background-color: white;
}

.on input[type="button"], .on input[type="submit"] {
	border-radius: 0.25rem;
	padding: 1rem;
	width: 250px;
	margin-left: -3px;
	margin-top: 2px;
	background-color: #c9c9c9;
	color: black;
	font-weight: bold;
	text-transform: uppercase;
}

.tbl_type, .tbl_type th, .tbl_type td {
	border: 0
}

.tbl_type {
	width: 100%;
	border-bottom: 2px solid #dcdcdc;
	font-size: 12px;
	border-collapse: collapse;
}

.tbl_type caption {
	display: none
}

.tbl_type tfoot {
	background-color: #f5f7f9;
	font-weight: bold
}

.tbl_type tbody td {
	color: white;
	border-bottom: 1px solid #363636;
}

.tbl_type th {
	padding: 7px 0 4px;
	border-top: 2px solid #dcdcdc;
	background-color: #f5f7f9;
	color: #666;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}

.tbl_type td {
	padding: 6px 0 4px;
	color: #4c4c4c;
}

.tbl_type td.ranking {
	font-weight: bold
}

/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/
.title {
	margin-bottom: 2em;
}

.title h2 {
	letter-spacing: 0.10em;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 2em;
	color: #FFF;
}

.title .byline {
	color: #6F6F6F;
}

/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/
.image {
	display: inline-block;
}

.image img {
	display: block;
	width: 100%;
}

.image-full {
	display: block;
	width: 100%;
	margin: 0 0 2em 0;
}

.image-left {
	float: left;
	margin: 0 2em 2em 0;
}

.image-centered {
	display: block;
	margin: 0 0 2em 0;
}

.image-centered img {
	margin: 0 auto;
	width: auto;
}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/
ul.style1 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style1 li {
	padding: 10px 0px 15px 0px;
	border-top: 1px solid #363636;
}

ul.style1 a {
	text-decoration: none;
	color: #919191;
}

ul.style1 a:hover {
	text-decoration: underline;
}

ul.style1 .first {
	padding-top: 0px;
	border-top: none;
}

ul.style2 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style2 li {
	padding: 32px 0px 24px 0px;
	border-top: 1px solid #363636;
}

ul.style2 .first {
	padding-top: 0px;
	border-top: none;
}

ul.style2 h3 {
	padding: 0px 0px 16px 0px;
	letter-spacing: 0.10em;
}

ul.style2 h3 a {
	color: #FFF;
}

ul.style2 a {
	text-decoration: none;
	color: #919191;
}

ul.style2 a:hover {
	text-decoration: underline;
}

/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/
ul.contact {
	margin: 0;
	padding: 2em 0em 0em 0em;
	list-style: none;
}

ul.contact li {
	display: inline-block;
	padding: 0em 0.30em;
	font-size: 1em;
}

ul.contact li span {
	display: none;
	margin: 0;
	padding: 0;
}

ul.contact li a {
	color: #FFF;
}

ul.contact li a:before {
	display: inline-block;
	background: #3f3f3f;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 20px;
	text-align: center;
	color: #FFFFFF;
}

ul.contact li a.icon-twitter:before {
	background: #2DAAE4;
}

ul.contact li a.icon-facebook:before {
	background: #39599F;
}

ul.contact li a.icon-dribbble:before {
	background: #C4376B;
}

ul.contact li a.icon-tumblr:before {
	background: #31516A;
}

ul.contact li a.icon-rss:before {
	background: #F2600B;
}

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/
.button {
	display: inline-block;
	margin-top: 3em;
	background: #BC1414;
	border-radius: 5px;
	line-height: 4em;
	padding: 0 3em;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	letter-spacing: 0.25em;
	text-decoration: none;
	text-transform: uppercase;
	outline: 0;
	white-space: nowrap;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	font-size: 0.80em !important;
	color: #fff !important;
}

.button:hover {
	background: #BB1717;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

.button:active {
	background: #B41313;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
#header {
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	border-bottom: 1px solid #363636;
	margin-top:1px;
}

#header div {
	float: right;
	margin-right: 20px;
}

#header div a:hover {
	color: white;
}
/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/
#logo {
	padding: 3em 0em;
	text-transform: uppercase;
}

#logo h1 a {
	text-decoration: none;
	font-size: 2.5em;
	color: #FFF;
}

#logo span {
	color: #BC1414;
}

#logo p {
	margin: 0;
	padding: 0;
	letter-spacing: 0.10em;
	font-size: 0.90em;
}

#logo p a {
	text-decoration: none;
}

#logo div {
	float: left;
}

#logo2 {
	margin-left: 123px;
	margin-top: 28px;
	position: relative;
}

#logo2 input[type="text"] {
	width: 308px;
}

#logo2 input[type="image"] {
	width: 21px;
	height:21px;
	position: absolute;
	left:360px;
	top:13px;
	border:0;
	padding:0;
}

#logo select {
	width:95px;
}


/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/
#menu {
	background: #1B1B1B url(images/bg01.png) repeat;
	border-bottom: 4px solid #BC1414;
	margin-bottom: 58px;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
}

#menu a {
	display: block;
	padding: 0em 2em;
	line-height: 80px;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: 700;
	color: #838383;
}

#menu .current_page_item a {
	background: #BC1414;
	color: #FFF;
}

#menu a:hover {
	text-decoration: none;
	color: #FFF;
}

/*********************************************************************************/
/* JoinPage                                                                        */
/*********************************************************************************/
#join input, #join select {
	height: 45px;
}

#join input[type="radio"] {
	height: 27px;
}

#join #postcode {
	width: 93px;
}

#join #roadAddress {
	width: 250px;	
}

#join #jibunAddress {
	width: 250px;
}

#join form label {
	line-height: 34px;
	vertical-align: middle;
}

#join input {
	margin-right: 12px;
}

#join .form__field {
	float: left;
	width: 820px;
	height: 60px;
	line-height: 40px;
	vertical-align: middle;
}

#join .form__field div {
	float: left;
}

#join .form-group:not(:nth-child(-n+2)) {
	margin-left: 336px;
	margin-bottom: 25px;
}

#join .form-group:nth-child(-n+2) .radio {
	margin-left: 336px;
}

#join .form-group:nth-child(2) {
	margin-bottom: 56px;
}

#join .label_tag {
	width: 120px;
}

#join .input_tag {
	width: 320px;
}

#join .hidden_tag {
	width: 250px;
}

#join .check_btn {
	background: #282828;
	width: 338px;
 	float : left;
	border : none;
	margin-left : 23px;
	padding : 0px;
	color : red;
	font-weight: bold;
}

#join .mail_input_btn {
	width: 145px;
}

/*********************************************************************************/
/* JoinClear                                                                       */
/*********************************************************************************/
#JoinClear {
	font-size: 24px;
	text-align: center;
}

/*********************************************************************************/
/* Sub_menu                                                                        */
/*********************************************************************************/
#sub_menu {
	
}

#sub_menu_slide {
	width: 250px;
	margin: 0px;
	float: left;
}

#sub_menu_slide p {
	width: 100%;
	height: 90px;
	font-size: 20px;
	line-height: 77px;
	vertical-align: middle;
	text-align: center;
	margin: 0px;
	background-color: #BC1414;
	color: white;
	background-color: #BC1414;
}

#sub_menu_slide .slide_bar {
	width: 100%;
	height: 31px;
	text-align: center;
	color: black;
	background: #fff;
	font-size: 13px;
	line-height: 30px;
	list-style-type: none;
	overflow: hidden;
	padding: 0px;
}

.silde_bar a {
	margin-left: 20px;
	text-decoration: none;
	color: #aaa;
	display: block;
	width: 200px;
}

#sub_menu_slide li {
	border-bottom: 1px solid #eee;
}

#sub_menu_slide li:hover {
	background: #eee;
}

#sub_menu #Weditor {
	color: black;
	background-color: white;
}

#sub_menu #submit_btn {
	background-color: #c9c9c9;
	color: black;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 0.25rem;
	padding: 1rem;
}

#sub_menu #submit_btn:focus, #sub_menu #submit_btn:hover {
	background-color: white;
}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/
#banner {
	overflow: hidden;
	margin: 2em auto;
	width: 1200px;
}

#banner1 {
	background-color: #1B1B1B;
	border-bottom: 4px solid #BC1414;
	color: white;
	float: left;
	width: 300px;
	height: 500px;
	display: inline-block;
	color: white;
}

#banner1 li {
	overflow: hidden;
	width: 290px;
	line-height: 35px;
}

#banner1 li div {
	float: left;
}

#banner1>div {
	overflow: hidden;
	margin-top: 17px;
	margin-left: 10px;
}

#banner2 {
	float: right;
	width: 900px;
	height: 500px;
}

#banner2 .width_img {
	opacity: 0.5;
}

#banner2 .item_text {
	left: 42px;
	top: 29px;
	font-size: 15px;
	position: absolute;
}

.item_text .ticket_text {
	font-weight: bold;
	color: #f03f37;
	font-size: 18px;
	margin-top: 0px;
}

.item_text .ticket_value {
	font-weight: normal;
	color: #919191;
	font-size: 15px;
	margin-top: -19px;
}

.item_text .title {
	font-weight: normal;
	color: white;
	font-size: 41px;
	margin-top: 0px;
	font-family: 'Do Hyeon', sans-serif;
}

.item_text .eng_title {
	font-weight: bold;
	color: #919191;
	font-size: 17px;
	margin-top: -94px;
}

#banner a {
	text-decoration: none;
}

#banner a:hover {
	text-decoration: underline;
}

.rank1 {
	width: 15px;
	margin: 0px;
	margin-right: 23px;
}

.rank2 {
	width: 22px;
	margin: 0px;
	margin-right: 2px;
	line-height: 30px;
}

.rank3 {
	width: 140px;
	height: 37px;
	margin: 0px;
	margin-right: 2px;
	font-size: 10pt;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.rank3_b {
	position: absolute;
	width: auto;
	height: auto;
	top: 1px;
	left: 1px;
	display: none;
}

.rank4 {
	width: 84px;
	margin: 0px;
	margin-right: 2px;
}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/
#page {
	overflow: hidden;
	padding: 3em 0;
	padding-bottom: 0;
	border-bottom: 1px solid #363636;
}

#profile_img {
	width:190px; 
	height:230px;
}

#page div:not(:last-child) {
	margin-bottom: 36px;
}

#all_profile {
	width: 800px;
	height: 230px;
	position: relative;
}

#profile {
	position: absolute;
	width: 190px;
	height: 230px;
	display: inline-block;
	left:0;
	top:0;
}

#profile_text {
	width: 440px;
	height: 230px;
	margin-left: 275px;
	display: inline-block;
}

/*********************************************************************************/
/* Login                                                                          */
/*********************************************************************************/

#login #naverLogin {
	margin-left: -9px;
	margin-top: 33px;
}

#login #naverLogin button {
	border: 0;
	outline: 0;
	background: #282828;
}

/*********************************************************************************/
/* Freeboard                                                                        */
/*****/

#freeboard_1 {
	width: 1200px;
	padding: 3%;
	float: left;
	margin: 0px;
}
  
#freeboard_1 .tbl_type td:nth-child(n+2):nth-child(-n+3) {
	text-align: left;
}

#freeboard_2 {
	padding: 3%;
	text-align: right;	
}  

/*********************************************************************************/
/* FreeboardWrite                                                                         */
/*********************************************************************************/

#FreeboardWrite {   
	background-color: white;
	color: black;	
}

#FreeboardWrite div {
	padding: 2%;
}

#FreeboardWrite div:last-child {   
	text-align: center;
}

/*********************************************************************************/
/* Service                                                                          */
/*********************************************************************************/
#service {
	margin-bottom: 53px;
	margin-top : 17px;
}

#service .movielist {
	overflow: hidden;
	width: 240px;
	float: left;
	text-align: center;
}

#service .movielist img {
	display: inline-block;
	margin-top: 25px;
	margin-bottom: 10px;
	width: 110px;
	height: 155px;
}

#service .movielist .title {
	color: #c9c9c9;
	font-weight: bold;
}

#service .movielist li:nth-child(n+2) {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 210px;
	height: 22px;
}

#service .movielist li:nth-child(2) {
	margin-bottom: 5px;
}

#service .movielist a:hover {
	color: white;
}

#service .movielist a {
	-webkit-transition: color .3s;
	transition: color .3s;	
}

#service_1 {
	left:1px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	word-spacing:8px;
	width: 100%;
}

#service_1 .on {
	border: solid 1px #03c75a;
	pointer-events: none;
	cursor: auto;
}

#service_2 {
	position: relative;
	margin-left:470px;
	margin-top:32px;
}

#service_2 select {
	width: 92px;
	height:30px;
}

.search_index {
	display: inline-block;
    width: 38px;
    height: 38px;
    margin: 0 1px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 39px;
    font-family: arial, sans-serif;
}

#service_2 input[type="text"] {
	width: 190px;
	height:30px;
}

#service_2 input[type="image"] {
	width: 16px;
	height:16px;
	position: absolute;
	left:251px;
	top:10px;
	border:0;
	padding:0;
}

#service_search div {
	float: left;
	text-align: center;
	vertical-align: middle;
}

#service div:first-child {
	margin-bottom: 30px;
	font-size: 17px;
} 
/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/
#content {
	float: left;
	width: 800px;
}

/*********************************************************************************/
/* EmailAuthRoom                                                                    */
/*********************************************************************************/
#EmailAuthRoom>div div {
	float: left;
	text-align: center;
	vertical-align: middle;
}

#EmailAuthRoom>div {
	width: 800px;
	height: 200px;
	margin:0 auto;
}

#EmailAuthRoom #EmailAuthRoom_1 {
	width:100%;
	height:100px;
}

#EmailAuthRoom .on>div {
	width:50%;
	height:100px;
}

#EmailAuthRoom .on>div div{
	width:100%;
	height:50%;
}

#EmailAuthRoom_1 {
	line-height: 100px;
	font-size: 22px;
	font-weight: bold;
}

#EmailAuthRoom_2_1_top {
	line-height: 50px;
	font-size: 19px;
	font-weight: bold;
}

#EmailAuthRoom_2_2_top {
	line-height: 50px;
}

#EmailAuthRoom_2_2_top input[type="text"] {
	height:30px;
	float:none;
}  

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/
#sidebar {
	float: right;
	width: 326px;
}

#sidebar .title {
	letter-spacing: 0.10em;
	text-transform: uppercase;
	color: #FFF;
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
#footer {
	overflow: hidden;
	padding: 6em 0em 4em 0em;
}

#footer .title {
	letter-spacing: 0.10em;
	text-transform: uppercase;
	color: #FFF;
}

#footer #fbox1 {
	float: left;
	width: 400px;
	margin-right: 50px;
}

#footer #fbox2 {
	float: left;
	width: 400px;
}

#footer #fbox3 {
	float: right;
	width: 300px;
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/
#copyright {
	padding: 6em 0em;
	font-size: 0.75em;
	letter-spacing: 0.20em;
	text-align: center;
	text-transform: uppercase;
	color: #6A6A6A;
	margin-top: 30px;
	border-top: 1px solid #363636;
}

#copyright a {
	color: #747474;
}

/*********************************************************************************/
/* Three Columns                                                                 */
/*********************************************************************************/
#three-column {
	overflow: hidden;
	margin-bottom: 2em;
	background: #FFF;
	border-bottom: 4px solid #BC1414;
	color: #525252;
}

#three-column div:not(:first-child) h2 {
	margin: 1em 0em;
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight: 700;
	color: #454445;
}

#three-column #tbox1, #three-column #tbox2, #three-column #tbox3 {
	float: left;
	text-align: center;
	width: 400px;
	padding: 0px 50px 50px 50px;
}

#three-column .tbox_img {
	width: 310px;
	height: 240px;
}